<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Watch Form</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <%- include('_header') %>
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Edit Watch</h5>
              <div>
                <input type="hidden" name="id" id="id" value=<%=watch.id%>/>
                <div class="mb-3">
                  <label for="watchName" class="form-label">Watch Name</label>
                  <input type="text" class="form-control" id="watchName" name="watchName"
                    placeholder="Enter watch name" value="<%= watch.watchName %>" required>
                </div>
                <div class="mb-3">
                  <label for="watchDescription" class="form-label">Watch Description</label>
                  <textarea class="form-control" id="watchDescription" name="watchDescription"
                    placeholder="Enter watch description" required><%= watch.watchDescription %></textarea>
                </div>
                <div class="mb-3">
                  <label for="price" class="form-label">Duration (in minutes)</label>
                  <input type="number" class="form-control" id="price" name="price" placeholder="Enter price"
                    value="<%= watch.price %>" required>
                </div>
                <div class="mb-3">
                  <label for="image" class="form-label">Watch Name</label>
                  <input type="text" class="form-control" id="image" name="image"
                    placeholder="Enter watch name" value="<%= watch.image %>" required>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="automatic" name="automatic" <%
                    if(watch.automatic) { %>checked<% } %>>
                    <label class="form-check-label" for="automatic">Is Automatic?</label>
                </div>
                <div class="mb-3">
                  <label for="brand" class="form-label">Brand</label>
                  <select class="form-select" id="brand" name="brand" required>
                    <% brands.forEach((brand)=> { %>
                      <option value=<%=brand.id %>
                        <% if(watch.brand==brand.id ) { %>selected<% } %> > <%= brand.brandName %>
                      </option>
                      <% })%>
                  </select>
                </div>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" onclick="updateWatch()">Update Watch</button>
                </div>
                <div class="error mt-3">
                  <% if (typeof errors !='undefined' ) { %>
                    <% errors.forEach(function (error){ %>
                      <div class="alert alert-warning alert-dismissible" role="alert">
                        <%= error %>
                      </div>
                      <% }); %>
                        <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap Bundle with Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      function updateWatch() {
        // const userConfirmed = window.confirm('Are you sure you want to edit this orchid?');
        // if (!userConfirmed) return;
        const id = document.getElementById('id').value;
        const watchName = document.getElementById('watchName').value;
        const image = document.getElementById('image').value;
        const watchDescription = document.getElementById('watchDescription').value;
        const price = document.getElementById('price').value;
        const automatic = document.getElementById('automatic').checked;
        const brand = document.getElementById('brand').value;

        const formData = {
          watchName,
          watchDescription,
          price,
          automatic,
          brand,
          image
        };

        const xhr = new XMLHttpRequest();

        xhr.open('PUT', `/watches/${id}`, true);

        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.onload = function () {
          if (xhr.status >= 200 && xhr.status < 300) {
            console.log('Response:', xhr.responseText);
            window.location.href = "/watches";
          } else {
            document.body.innerHTML = xhr.responseText;
            console.error('Error:', xhr.statusText);
          }

        };
        const jsonData = JSON.stringify(formData);
        xhr.send(jsonData);
      }
    </script>

</body>

</html>